* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Segoe UI";
}

:root {
    --main-color: #5f89fb;
    --color: #838791;
    --bgcolor: rgba(220, 214, 255, 0.46);
    --fm: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.blue {
    color: #5f89fb;
}

body {
    overflow-y: hidden;
    position: relative;
}

.globalContainer {
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor);
}

img {
    width: 100%;
}

.signup__container {
    background: rgb(244, 239, 246);
    background: linear-gradient( 90deg, rgba(244, 239, 246, 1) 0%, rgba(152, 176, 213, 1) 35%, rgba(183, 66, 66, 1) 100%);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding: 30px;
}

.form__container {
    width: 40%;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__header {
    color: var(--color);
}

.form__header__brand {
    width: 60%;
    margin: auto;
    padding: 20px;
    display: none;
}

.form__header__brand img {
    width: 100%;
    margin: auto;
}

.form__input__control {
    position: relative;
    width: 100%;
    padding: 7px;
}

.form__input__control label {
    background-color: white;
    padding: 0px 3px;
    transition: 0.2s;
    color: var(--color);
    font-weight: bold;
}

input:not(input[type="checkbox"]),
select {
    width: 100%;
    height: 40px;
    font-size: 16px;
    outline: none;
    padding-left: 15px;
    color: var(--color);
    border: 1px solid #83879157;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #83879169;
}

input:not(input[type="checkbox"]) {
    box-shadow: 3px 3px 3px #ffffff27, 3px 3px 3px #5757573f;
    border-radius: 15px;
}

.form__input__control--check {
    display: grid;
    grid-template-columns: 10% 90%;
}

.form__input__control--check .input--checkbox {
    width: auto;
    height: auto;
    box-shadow: unset;
}

.btn {
    border: none;
    font-weight: bold;
    color: var(--color);
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.btn--blue {
    background-color: var(--main-color);
    color: white;
    box-shadow: var(--shadow);
    margin: 5px;
    border-radius: 7px;
}

.btn--red {
    color: rgb(235, 79, 79);
    border: 1px solid rgb(235, 79, 79);
    ;
}

.form__btn {
    border: 1px solid var(--color);
    border-radius: 10px;
    margin: 10px;
}

.form__btn:hover {
    background-color: #92939746;
}


/* confirmacion de correos y errores de correos */

.confirmMail {
    width: 70%;
    margin: auto;
    text-align: center;
}

.confirmMail img {
    width: 100%;
}

.confirmMail__img {
    width: 40%;
    margin: auto;
}


/* dASHBOARD */

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 20% 50% 20%;
    text-align: center;
    align-items: center;
}

.nav__control {
    cursor: pointer;
}

.nav__company__logo {
    width: 60%;
}

.nav__user {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
    font-family: var(--fm);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}

.spinner {
    justify-content: center;
    background-color: unset;
    display: none;
}

.spinner-show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    align-items: center;
}

#modal_loader {
    width: 75%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 5;
    background-color: white;
    border: 1px solid #838791;
    padding: 15px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    display: none;
    transition: .5s;
}

.modal__header {
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 90% auto;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

#modal__header__title {
    color: var(--main-color);
}

#modal__header__close {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 3px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: -15px;
    position: relative;
    margin-bottom: 5px;
}

#modal__header__close::before {
    content: "x";
    position: absolute;
    top: -30%;
    left: 20%;
}

.modal h3 {
    color: var(--main-color);
    padding: 15px;
}

.widgets {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% auto;
    column-gap: 15px;
    text-align: center;
    align-items: center;
}

.widgets__item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #83879134;
    transition: .5s;
    box-shadow: var(--shadow);
    /*     box-shadow: -5px -5px 5px #ffffff91, 5px 5px 5px #57575780, -8px -8px 5px #ffffff91 inset, 8px 8px 5px #57575780 inset;
 */
}

.widgets__item__title {
    font-size: 16px;
    color: var(--main-color);
}

.widgets__item__body {
    font-size: 35px;
    font-weight: bolder;
    color: var(--color);
}

.widgets__item__body--active {
    color: green;
}

.widgets__item__body--expired {
    color: red;
}

.widgets__item__body--soon {
    color: orange;
}

.widgets__item__btn {
    background-color: unset;
    color: var(--main-color);
    font-size: 17px;
    font-weight: 300;
    padding: 7px;
    cursor: pointer;
}

.widgets__item--actions {
    cursor: pointer;
}

.widgets__item--actions:hover {
    box-shadow: unset;
}

.table_container {
    width: 95%;
    margin: auto;
    background: white;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #83879134;
}

.form__control {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;
    justify-content: center;
    padding-top: 5px;
}

.form__control input {
    height: 33px;
    border-radius: 7px;
}

.form_control--newVehicle {
    grid-template-columns: auto auto auto auto;
}

.form_control--newVehicle input {
    text-transform: uppercase;
}

.form__btn {
    width: 50%;
    margin: 30px auto;
    box-shadow: var(--shadow);
    border: 1px solid #838791;
}

table tbody tr:hover {
    background-color: #42474bde;
    cursor: pointer;
}

.client {
    padding: 0 20px;
    padding-top: 10px;
    position: relative;
}

.ilust {
    width: 70%;
    position: absolute;
    top: 1000%;
    left: 50%;
    margin-bottom: 30px;
    transform: translate(-50%, -10%);
    color: #838791;
    text-align: center;
}

.ilust img {
    width: 70%;
    display: block;
    margin: auto;
}

.client__header {
    display: grid;
    grid-template-columns: 60% auto auto auto;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 10px;
}

.client__header span {
    text-align: right;
}

.client__info__container {
    display: grid;
    grid-template-columns: 34% 35% 20%;
    grid-auto-flow: column;
    column-gap: 3%;
    justify-content: center;
}

.client__info__widget {
    box-shadow: var(--shadow);
    border: 1px solid #42474b1f;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.editinfo {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: var(--color);
    display: none;
}

.client__info__widget:hover .editinfo {
    display: block;
}

.client__info__group {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
}

.client__ensurance .client__info__group {
    grid-template-columns: auto;
    justify-content: left;
}

.client__ensurance__header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    text-align: center;
}

.client__ensurance__header #editPolicy {
    text-align: right;
    color: #838791;
    cursor: pointer;
}

.client__ensurance__header img {
    width: 70%;
    cursor: pointer;
}

.aditional_service {
    padding-left: 30px;
}

.client__info__vehicle__addEnsure {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.client__info__vehicle__addEnsure span {
    color: rgb(179, 50, 50);
    font-weight: bold;
    font-size: 13px;
}

.aditional_service li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--main-color);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
    font-size: 20px;
}

.client__info__group__data {
    padding: 5px;
    color: var(--color);
}

.client__date__info {
    width: 100%;
    display: grid;
    grid-template-columns: 12% 33% 12% 33%;
    column-gap: 10px;
    align-items: center;
}

.date_info {
    padding-left: 0px;
}

.client__info__group__data {
    word-wrap: break-word;
}

.client__info__actions {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}

.client__info__actions .btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.form__control--aditionalService {
    grid-template-columns: 100%;
}

.form__control__selects {
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

.form__input--initial,
.form__input--time {
    display: none;
}

.form__control__checkbox__control {
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 10px;
    padding: 7px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

.form__control__aditionalService__checkbox {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.client__info__group__container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}


/*  INFORMACION DE LA POLIZA EN IMPRESION*/

.policy_container {
    padding-top: 3.5cm;
    padding-left: 2.5cm;
}

.policy__print {
    width: 8.2cm;
    height: 5cm;
    /*  background-color: #a5a5a5; */
    font-size: 12px;
    text-transform: uppercase;
}

.policy__print__order {
    width: 100%;
}

.policy__print__info {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 15px;
}

.policy__print__info--first {
    grid-template-columns: 30% 60%;
    column-gap: 15px;
}

.policy__print__info--second p {
    text-align: center;
}

.policy__print__info--maininfo {
    grid-template-columns: 18% 82%;
}

.policy__print__info span {
    font-weight: bold;
}

.policy__print__grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

@media only screen and (max-width:1115px) {
    .client__header {
        grid-template-columns: 50% auto auto auto
    }
    .btn {
        padding: 7px;
        font-size: 16px;
        font-weight: 500;
    }
    .client__info__vehicle__addEnsure {
        width: 80%;
    }
}

@media only screen and (max-width:1031px) {
    .client__info__actions {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:960px) {
    .client__info__container {
        grid-template-columns: 70% 30%;
        gap: 1%;
    }
    .client__header {
        grid-template-columns: 30% auto auto auto
    }
}

#globalPrinting {
    display: none;
}

@media print {
    .nav,
    #modal_loader,
    #overlay,
    .spinner,
    .globalContainer {
        display: none;
    }
    #globalPrinting {
        display: block;
    }
}