* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Segoe UI";
}

:root {
    --main-color: #5f89fb;
    --color: #838791;
    --bgcolor: rgba(220, 214, 255, 0.46);
    --fm: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

*::-webkit-scrollbar {
    background-color: var(--main-color);
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 15px;
}

.blue {
    color: #5f89fb;
}

body {
    overflow-y: hidden;
    position: relative;
}

.globalContainer {
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor);
}

img {
    width: 100%;
}

.signup__container {
    /*  background: rgb(244, 239, 246);
    background: linear-gradient( 90deg, rgba(244, 239, 246, 1) 0%, rgba(152, 176, 213, 1) 35%, rgba(183, 66, 66, 1) 100%);
     */
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: relative;
}

.signup {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signin {
    width: 60%;
}

.signup__container {
    background-image: url(../img/ilust/trafic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left_img {
    backdrop-filter: blur(15px);
    color: rgb(255, 255, 255);
    padding: 15px;
    position: relative;
}

.text {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.text h3 {
    font-size: 40px;
    text-decoration: underline white 3px;
}

#loadLogin,
#loadRegister {
    background-color: unset;
    text-align: center;
    display: block;
    margin: auto;
    font-weight: normal;
}

.branding {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
}

.branding a {
    color: var(--main-color);
    font-weight: bold;
}

.form__container {
    background-color: white;
    padding: 30px;
    border-radius: 0px 15px 15px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.form__header {
    color: var(--color);
}

.form__header__brand {
    width: 30%;
    margin: auto;
    padding: 20px;
    display: none;
}

.form__header__brand img {
    width: 100%;
    margin: auto;
}

.form__input__control {
    position: relative;
    width: 100%;
    padding: 7px;
}

.form__input__control label {
    background-color: white;
    padding: 0px 3px;
    transition: 0.2s;
    color: var(--color);
    font-weight: bold;
    font-size: 14px;
}

input:not(input[type="checkbox"]),
select {
    width: 100%;
    height: 35px;
    font-size: 14px;
    outline: none;
    padding-left: 15px;
    color: var(--color);
    border: 1px solid #83879157;
    border-radius: 5px;
}

input:not(input[type="checkbox"]):focus {
    border: 1px solid #5f89fb;
}

input:not(input[type="checkbox"]) {
    box-shadow: 3px 3px 3px #ffffff27, 3px 3px 3px #5757573f;
    border-radius: 5px;
}

.form__input__control--check {
    display: grid;
    grid-template-columns: 10% 90%;
}

.form__input__control--check .input--checkbox {
    width: auto;
    height: auto;
    box-shadow: unset;
}

.btn {
    border: none;
    font-weight: bold;
    color: var(--color);
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.btn--blue {
    background-color: var(--main-color);
    color: white;
    box-shadow: var(--shadow);
    margin: 5px;
    border-radius: 7px;
}

.btn--red-no-border {
    color: rgb(255, 255, 255);
    background-color: rgb(235, 79, 79);
    border-radius: 5px;
}

.btn--green-no-border {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 181, 67);
    border-radius: 5px;
}

.btn--orange-no-border {
    color: rgb(255, 255, 255);
    background-color: rgb(181, 99, 67);
    border-radius: 5px;
}

.btn--red {
    color: rgb(235, 79, 79);
    border: 1px solid rgb(235, 79, 79);
}

.form__btn {
    border-radius: 5px;
    margin: 10px;
    background-color: var(--main-color);
    border: unset;
    color: white;
}


/* confirmacion de correos y errores de correos */

.confirmMail {
    width: 70%;
    margin: auto;
    text-align: center;
}

.confirmMail img {
    width: 100%;
}

.confirmMail__img {
    width: 40%;
    margin: auto;
}


/* dASHBOARD */

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 20% 35% 5% 25%;
    text-align: center;
    align-items: center;
}

.nav__control {
    cursor: pointer;
}

.nav__company__logo {
    width: 60%;
}

.nav__user {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
    font-family: var(--fm);
}

.notification {
    position: relative;
    cursor: pointer;
}

.fa-bell {
    color: rgb(163, 139, 1);
}

.notification_badge {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
}

.notification_block {
    width: 30%;
    background-color: white;
    box-shadow: var(--shadow);
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    right: 10px;
    border-radius: 5px;
    padding: 5px;
    display: none;
    z-index: 5;
}

.notification_block_show {
    display: block;
}

.notifications {
    margin-bottom: 15px;
    box-shadow: var(--shadow);
    border-radius: 7px;
    padding: 15px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
}

.notifications_title {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
}

.title {
    color: var(--main-color);
}


/* Se usa para que el grid no se desforme al momento de ocultar el boton de configuracion */

.refill {
    display: none;
}

.nav__loguot {
    text-align: right;
    padding-right: 20px;
}

.toggle {
    cursor: pointer;
}

.sidebar {
    position: absolute;
    left: -100%;
    background-color: #fff;
    backdrop-filter: blur(2px);
    color: var(--color);
    font-size: 20px;
    font-weight: 500;
    box-shadow: var(--shadow);
    transition: .5S;
    z-index: 5;
}

.show_sidebar {
    left: 0%;
}

.sidebar__items {
    padding: 15px;
}

.sidebar__items:hover {
    background-color: #5f88fb33;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    /*  background-color: rgba(255, 255, 255, 0.233); */
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}

.spinner {
    justify-content: center;
    background-color: unset;
    display: none;
}

.spinner-show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    align-items: center;
}

.modal_loader {
    width: 75%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 5;
    background-color: white;
    border: 1px solid #838791;
    padding: 15px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    display: none;
    transition: .5s;
}

.modal_loader_s {
    width: 40%;
}

.modal_loader_m {
    width: 60%;
}

.modal_loader_xl {
    width: 75%;
}

.modal__header {
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 90% auto;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

#modal__header__title {
    color: var(--main-color);
}

#modal__header__close {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 3px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: -15px;
    position: relative;
    margin-bottom: 5px;
}

#modal__header__close::before {
    content: "x";
    position: absolute;
    top: -30%;
    left: 20%;
}

.modal h3 {
    color: var(--main-color);
    padding: 15px;
}

.widgets {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% auto;
    column-gap: 15px;
    text-align: center;
    align-items: center;
}

.widgets__item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #83879134;
    transition: .5s;
    box-shadow: var(--shadow);
    /*     box-shadow: -5px -5px 5px #ffffff91, 5px 5px 5px #57575780, -8px -8px 5px #ffffff91 inset, 8px 8px 5px #57575780 inset;
 */
}

.widgets__item__title {
    font-size: 16px;
    color: var(--main-color);
}

.widgets__item__body {
    font-size: 35px;
    font-weight: bolder;
    color: var(--color);
}

.widgets__item__body--active {
    color: green;
}

.widgets__item__body--expired {
    color: red;
}

.widgets__item__body--soon {
    color: orange;
}

.widgets__item__btn {
    background-color: unset;
    color: var(--main-color);
    font-size: 17px;
    font-weight: 300;
    padding: 7px;
    cursor: pointer;
}

.widgets__item--actions {
    cursor: pointer;
}

.widgets__item--actions:hover {
    box-shadow: unset;
}

.table_container {
    width: 95%;
    margin: auto;
    background: white;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #83879134;
}

.form__control {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;
    justify-content: center;
    padding-top: 5px;
}

.form__control input {
    height: 33px;
    border-radius: 7px;
}

.form_control--newVehicle {
    grid-template-columns: auto auto auto auto;
}

.form_control--newVehicle input,
.form__input--newClient,
tbody td {
    text-transform: uppercase;
}

.form__btn {
    width: 50%;
    margin: 30px auto;
    box-shadow: var(--shadow);
    border: 1px solid #838791;
}

table tbody tr:hover {
    background-color: #30415011;
    cursor: pointer;
}

.client {
    padding: 0 20px;
    padding-top: 10px;
    position: relative;
}

.ilust {
    width: 70%;
    position: absolute;
    top: 1000%;
    left: 50%;
    margin-bottom: 30px;
    transform: translate(-50%, -10%);
    color: #838791;
    text-align: center;
}

.ilust img {
    width: 70%;
    display: block;
    margin: auto;
}

.client__header {
    display: grid;
    grid-template-columns: 20% auto auto auto auto auto auto;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 5px;
}

.client__header span {
    text-align: right;
}

.client__info__container {
    display: grid;
    grid-template-columns: 34% 35% 20%;
    grid-auto-flow: column;
    column-gap: 3%;
    justify-content: center;
}

.client__info__widget {
    box-shadow: var(--shadow);
    border: 1px solid #42474b1f;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.client__info__widget p {
    text-transform: uppercase;
}

.editinfo {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: var(--color);
    display: none;
}

.client__info__group__data--mantenaince {
    position: relative;
}

.client__info__group__data--mantenaince .editinfo--mantenaince {
    position: absolute;
    right: 25%;
    top: 5%;
    width: 10%;
    display: none;
}

.client__info__widget:hover .editinfo,
.client__info__group__data--mantenaince .editinfo--mantenaince {
    display: block;
}

.client__info__group {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
}

.client__ensurance .client__info__group {
    grid-template-columns: auto;
    justify-content: left;
}

.client__ensurance__header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    text-align: center;
}

.client__ensurance__header #editPolicy {
    text-align: right;
    color: #838791;
    cursor: pointer;
}

.client__ensurance__header img {
    width: 70%;
    cursor: pointer;
}

.aditional_service {
    padding-left: 30px;
}

.client__info__vehicle__addEnsure {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.client__info__vehicle__addEnsure span {
    color: rgb(179, 50, 50);
    font-weight: bold;
    font-size: 13px;
}

.aditional_service li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--main-color);
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
    font-size: 20px;
}

.client__info__group__data {
    padding: 5px;
    color: var(--color);
}

.client__date__info {
    width: 100%;
    display: grid;
    grid-template-columns: 12% 33% 12% 33%;
    column-gap: 5px;
    align-items: center;
}

.client__date__info label {
    font-size: 13px;
}

.date_info {
    padding-left: 0px;
}

.client__info__group__data {
    word-wrap: break-word;
}

.client__info__actions {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}

.client__info__actions .btn {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.form__control--aditionalService {
    grid-template-columns: 100%;
}

.form__control__selects {
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

.form__input--initial,
.form__input--time {
    display: none;
}

.form__control__checkbox__control {
    display: grid;
    grid-template-columns: 10% auto;
    column-gap: 10px;
    padding: 7px;
    font-size: 12px;
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
}

.form__control__aditionalService__checkbox {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 15px;
}

.client__info__group__container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}


/*  INFORMACION DE LA POLIZA EN IMPRESION*/

.policy_container {
    padding-top: 3.3cm;
    padding-left: 2.3cm;
}

.policy__print {
    width: 8.2cm;
    height: 5cm;
    background-color: #a5a5a5;
    font-size: 12px;
    text-transform: uppercase;
}

.policy__print__order {
    width: 100%;
}

.policy__print__info {
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 10px;
}

.policy__print__info--first {
    grid-template-columns: 25% 60%;
    column-gap: 10px;
}

.policy__print__info--second p {
    text-align: center;
}

.policy__print__info--maininfo {
    grid-template-columns: 18% 82%;
}

.policy__print__info span {
    font-weight: bold;
}

.policy__print__grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

#logout {
    color: var(--main-color);
}

.mantenaince form .form_grid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 30px;
    justify-content: center;
    padding: 30px;
}

.mantenaince {
    text-align: center;
}


/* Configuracion */

.config_container {
    height: 95vh;
    color: var(--main-color);
}

.saving {
    display: none;
    float: right;
}

.config_header {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 15% 10%;
    align-items: center;
    padding-left: 15px;
}

.configs {
    display: grid;
    grid-template-columns: 70% 25%;
    width: 100%;
    margin: auto;
    height: 90%;
    column-gap: 20px;
    justify-content: center;
    padding-top: 15px;
}

.main_config {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    column-gap: 20px;
}

.user_config,
.system_config {
    background-color: white;
    border-radius: 7px;
    padding: 5px;
}

.widget {
    box-shadow: var(--shadow);
}

.user_config .input {
    border: none;
    box-shadow: unset;
    padding-left: 0;
}

.second_config {
    height: 90%;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
}

.second_config span {
    color: var(--color);
}

.billing_info {
    margin: 15px;
}

.group_temple_pos {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;
    margin: 15px 0px 15px 0px;
}

.main_config .widget span {
    display: block;
    color: var(--color);
    font-weight: 500;
}

.main_config .widget {
    padding-left: 20px;
    border-radius: 15px;
}

.toggle {
    color: var(--main-color);
}

.system_config_darkmode {
    width: 30%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 15px 0px;
    margin: 15px 0px 15px 0px;
}

.dark_toggle {
    width: 50px;
    height: 20px;
    background-color: rgba(105, 105, 105, 0.363);
    border-radius: 15px;
    position: relative;
}

.dark_toggle_switch {
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    top: -10%;
    left: 0%;
    cursor: pointer;
    transition: .5s;
}

.dark_toggle_switch_on {
    left: 50%;
}

@media only screen and (max-width:1367px) {
    .widgets {
        width: 90%;
        margin: auto;
    }
    .widgets__item__title {
        font-size: 14px;
    }
    .widgets__item__body {
        font-size: 20px;
    }
    .table_container h2 {
        font-size: 18px;
    }
    .table_container td {
        font-size: 13px;
    }
    .client__header {
        grid-template-columns: 20% auto auto auto auto auto auto
    }
    .client__header h1 {
        font-size: 20px;
    }
    .client__header .btn {
        font-size: 14px;
    }
    .client__info__widget h3 {
        font-size: 16px;
    }
    .client__info__widget h4 {
        font-size: 14px;
    }
    .client__info__widget p {
        font-size: 12px;
    }
    .client__info__actions {
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 5px;
    }
    .client__info__actions .btn {
        font-size: 13px;
        font-weight: 500;
    }
    #modal__header__title {
        font-size: 20px;
    }
    .form__input {
        font-size: 17px;
        height: 30px;
    }
    .client__info__group__data h4 {
        font-size: 13px;
    }
    .client__info__group__data p {
        font-size: 13px;
    }
}

@media only screen and (max-width:1115px) {
    .client__header {
        grid-template-columns: 20% auto auto auto auto auto auto
    }
    .btn {
        padding: 7px;
        font-size: 16px;
        font-weight: 500;
    }
    .client__info__vehicle__addEnsure {
        width: 80%;
    }
}

@media only screen and (max-width:1031px) {
    .client__info__actions {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:960px) {
    .client__info__container {
        grid-template-columns: 70% 30%;
        gap: 1%;
    }
    .client__header {
        grid-template-columns: 30% auto auto auto
    }
}

#globalPrinting {
    display: none;
}

@media print {
    .nav,
    #modal_loader,
    #overlay,
    .spinner,
    .globalContainer {
        display: none;
    }
    #globalPrinting {
        display: block;
    }
}